<% timeline = project.generate_timeline.reverse %>

<% cache [
  project,
  "timeline",
  current_user&.id,
  project.updated_at,
  project.journal_entries.maximum(:updated_at),
  project.journal_entries.count,
  project.design_reviews.maximum(:updated_at),
  project.design_reviews.count,
  project.build_reviews.maximum(:updated_at),
  project.build_reviews.count,
  project.kudos.maximum(:updated_at),
  project.kudos.count
] do %>
  <div class="flex flex-col space-y-8">
      <div class="border-b border-white/20 pb-1 flex justify-between items-baseline">
        <p class="text-4xl font-rc-full">Timeline</p>
        <% if current_user&.id == project.user_id %>
          <%= link_to export_project_journal_entries_path(project), class: "hover:text-white/80" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>
          <% end %>
        <% end %>
      </div>
      <div class="flex flex-col">
          <% timeline.each do |event| %>
              <%= render "projects/timeline_event", project: project, event: event %>
          <% end %>
      </div>
  </div>
<% end %>