<% timeline = project.generate_timeline.reverse %>

<% cache [
  project,
  "timeline",
  current_user&.id,
  project.updated_at,
  project.journal_entries.maximum(:updated_at),
  project.journal_entries.count,
  project.design_reviews.maximum(:updated_at),
  project.design_reviews.count,
  project.build_reviews.maximum(:updated_at),
  project.build_reviews.count,
  project.kudos.maximum(:updated_at),
  project.kudos.count
] do %>
  <div class="flex flex-col space-y-8">
      <p class="text-4xl border-b border-white/20 pb-1 font-rc-full">Timeline</p>
      <div class="flex flex-col">
          <% timeline.each do |event| %>
              <%= render "projects/timeline_event", project: project, event: event %>
          <% end %>
      </div>
  </div>
<% end %>